.WebGL {
  display: block;
}

.TrailCanvas {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.25, 0.25);
  transform-origin: 0% 0%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }
}
