$green: #C8FF00;
$orange: #fd9160;
$pink: #FF00AA;
$purple: #AA01FF;
$blue: #02DFFC;


.Intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  overflow: hidden;

  &-title {
    text-align: center;
    color: $purple;
    //background-color: yellow;
    padding: 10px 40px;
    margin: 0 0 20px 0;
  }

  &-button {
    padding: 1.5em 3em;
    border-radius: 100px;
    background: $green;
    color: $orange;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    -webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    cursor: pointer;
    outline: none;

    &::before {
      content: '';
      position: absolute;
      top: -40px;
      left: -40px;
      bottom: -40px;
      right: -40px;
      background: inherit;
      border-radius: 100px;
      z-index: -1;
      opacity: 0.4;
      -webkit-transform: scale3d(0.8, 0.5, 1);
      transform: scale3d(0.8, 0.5, 1);
    }

    &:hover {
      -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
      transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
      background: $pink;
      color: #ffffff;
      -webkit-animation: anim-moema-1 0.3s forwards;
      animation: anim-moema-1 0.3s forwards;
    }

    &:hover::before {
      -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
      animation: anim-moema-2 0.3s 0.3s forwards;
    }

    @-webkit-keyframes anim-moema-1 {
      60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
      }
      85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
      }
      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }

    @keyframes anim-moema-1 {
      60% {
        -webkit-transform: scale3d(0.8, 0.8, 1);
        transform: scale3d(0.8, 0.8, 1);
      }
      85% {
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
      }
      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }

    @-webkit-keyframes anim-moema-2 {
      to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }

    @keyframes anim-moema-2 {
      to {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }
  }

  &-name {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    letter-spacing: 5px;
    z-index: 50000;
    text-transform: uppercase;
    font-weight: 900;
    color: $orange;
  }

  &-explode {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(7);
    width: 256px;
    height: 256px;
    background: url('/assets/explosion.png') left center no-repeat;
    background-position: 256px;
    user-select: none;
    pointer-events: none;
    z-index: 50001;

    &--active {
      animation: play 2s steps(48) infinite;
    }
  }

  @keyframes play {
    0% {background-position: 0; }
    100% { background-position: -12288px; }
  }

  &-bars {
    position: absolute;
    top: 0;
    left: -50vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0;
  }

  &-bar {
    background-color: #fff;
    height: 10px;
  }
}
