<div class="Intro">
    <h1 class="Intro-title">Wingle</h1>
    <button class="Intro-button">Pick random</button>
    <span class="Intro-name"></span>
    <div class="Intro-explode"></div>
    <div class="Intro-bars">
        <span class="Intro-bar"></span>
        <span class="Intro-bar"></span>
        <span class="Intro-bar"></span>
        <span class="Intro-bar"></span>
        <span class="Intro-bar"></span>
        <span class="Intro-bar"></span>
        <span class="Intro-bar"></span>
        <span class="Intro-bar"></span>
        <span class="Intro-bar"></span>
        <span class="Intro-bar"></span>
        <span class="Intro-bar"></span>
        <span class="Intro-bar"></span>
        <span class="Intro-bar"></span>
        <span class="Intro-bar"></span>
        <span class="Intro-bar"></span>
        <span class="Intro-bar"></span>
        <span class="Intro-bar"></span>
        <span class="Intro-bar"></span>
        <span class="Intro-bar"></span>
        <span class="Intro-bar"></span>
    </div>
</div>
