*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: $text-color;
  font: 16px/1.5 $text-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  font-family: $title-font;
}

h1 {
  font-size: 120px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
}

strong {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}
