$black: #000;
$grey: #A9A9A9;

$text-color: $black;

$text-font: 'Roboto', sans-serif;
$title-font: 'Montserrat', sans-serif;

/* Easings
   ========================================================================== */

$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
